a {
	text-decoration: none; 
	color: Blue;   
}
a:hover {
	text-decoration: underline;
}

h1 { 
	margin: 0; 
	padding: 0 0 0 0; 
	font-family: "trebuchet ms",arial,tahoma,verdana,sans-serif;
	font-weight: normal; 
	letter-spacing: .005em; 
	color: Black;  
	font-size: 20pt;
	text-align: center;
}

h2 { 
	margin: 0; 
	padding: 24px 0px 7px 0px; 
	font-family: "trebuchet ms",arial,tahoma,verdana,sans-serif; 
	font-weight: normal; 
	letter-spacing: .005em; 
	color: Black; 
	font-size: 15pt; 
}


#status {
	color: Red;
	padding: 10px 0px 5px 0px;
}

#formErrorDiv {
	color: Red;
	padding: 10px 0px 10px 140px;
}

.centeredList {
	padding: 10px 0px 5px 20px;
	margin: 0 auto;
	text-align: left;
}

.centered {
	text-align: center;
}
.padded {
	padding: 10px 0px 5px 0px;
}


/* popup buttons */
.btn {
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: #111111;
	font-size: 12px;
	background: #cdcdcd;
	padding: 40px 50px 40px 50px;
	text-decoration: none;
}
.btn:hover {
	background: #ededed;
	text-decoration: none;
	color: White;
	background: #777777;
}
/* Stops buttons looking stupid */
.tdpopup {
	overflow: hidden; 
	text-align: left;
}

/* in-line buttons */
.smallbtn {
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: #111111;
	font-size: 12px;
	background: #cdcdcd;
	padding: 4px 5px 4px 5px;
	text-decoration: none;
}
.smallbtn:hover {
	background: #ededed;
	text-decoration: none;
	color: White;
	background: #777777;
}



.trcheckbox:hover {
	background: #ededed;
}

.trlist:hover {
	background: #ededed;
}

.trlist-Entry {
	width: 400px;
	max-width: 450px; 
	word-wrap: break-word;
}


/* Schedule buttons */
.trlist-RemoveButton {
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: Black;
	font-size: 12px;
	background: White;
	padding: 2px 5px 2px 5px;
	text-decoration: none;
}
.trlist-RemoveButton:hover {
	color: White;
	background: Red;
	text-decoration: none;
}
.trlist-AcceptButton {
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: White;
	font-size: 12px;
	background: #0174df;
	padding: 2px 5px 2px 5px;
	text-decoration: none;
}
.trlist-AcceptButton:hover {
	color: Black;
	background: #92ff68;
	text-decoration: none;
}

/* For type colours in schedule */
.trlist-user {
	background: #92ff68;
}
.trlist-user:hover {
	background: #40ff00;	
}

.trlist-auto {
	background: #ededff;
}
.trlist-auto:hover {
	background: #a9d0f5;	
}